.project_times
  %p 
    Total Time:
    =@project.total_time if @project
  %table
    %tr
      %th user
      %th notes
      %th time
      %th hr decimal
      %th action
    -@project.times.order("id desc").each do |time|
      -#=form_for time do |f|
      %tr
        %td= time.employee.username
        %th= time.notes
        %th= time.total_time_display
        %th= time.total_time
        -#%th= f.text_field :time_decimal
        -#%th= f.submit "save"
