.project_times
  %p 
    Total Time:
    =@project.total_time if @project
  %table
    %tr
      %th user
      %th notes
      %th hours
      %th decimal
      %th action
    -@project.times.order("id desc").each do |time|
      -unless time.clocked_in?
        = render :partial => 'timer/times', :locals => {:time => time}
      -else
        = render :partial => 'timer/read_times', :locals => {:time => time}
