%h3 SGL Project Timer

=simple_form_for @timer, :url => timer_path do |f|
  -if @timer.clocked_in?
    ="Project: #{@timer.project.name}"
    =text_field_tag :timer
  -else
    =f.input :project_id, :collection => @projects, :prompt => "Select your project"
  =f.input :notes
  -if @timer.clocked_in?
    =f.button :submit, "Stop"
    =f.input :id, :as => :hidden
  -else
    =f.button :submit, "Start"

-if @project
  = render :partial => 'shared/project_table'

