%h3 SGL Project Timer

=simple_form_for @timer, :url => timer_path do |f|
  -if @timer.clocked_in?
    ="Project: #{@timer.project.name}"
    .timer
      .hide
        #start_time
          =@timer.to_milliseconds.to_i
      #stopwatch
      :javascript 
        $(document).ready(function() { 
        var start_time = parseInt($("#start_time").text());
        $("#stopwatch").stopwatch({
        startTime: start_time,
        format: '{hh}:{mm}:{ss}'}).stopwatch('start');});
  -else
    =f.input :project_id, :collection => @projects, :prompt => "Select your project"
  =f.input :notes
  -if @timer.clocked_in?
    =f.button :submit, "Stop"
    =f.input :id, :as => :hidden
  -else
    =f.button :submit, "Start"

-if @project
  = render :partial => 'shared/project_table'
